/*MAIN HEADER FORMATTING*/
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: rgb(19, 89, 90);
}

.main-header h1 {
    justify-content: center;
    color: rgb(238, 206, 179); 
    font-family: serif;
}

/*NAVIGATION IN THE HEADER FORMATTING*/
.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.navigation-selector {
    width:300px;
    height: 30px;
    margin: 20px;
    border: 3px solid green;
    color:rgb(19, 89, 90);
    background-color:rgb(238, 206, 179);
    font-family: serif;
    font-size:x-large;
    text-align: center; 
}

/*BODY SECTION FOR PROJECTS*/
.card {
    padding: 15px;
    text-align: center;
    border-style: solid;
}

.card header {
    padding: 25px;
    background-color: rgb(56, 138, 130);
    font-family: serif;
    font-size:larger;
    font-weight: bold;
}

/*FORMATTING FOR ASIDE AND IMAGE*/
aside {
    background-color: azure;
    padding: 50px;
    margin-inline: 10%;
    margin-top:10px;
    text-align: center;
    border-style: solid;
    float:left;
}

/*ID PHOTO IMAGE FORMATTING*/
.ID {
    flex-wrap: wrap;
    border-radius: 4px;
    width: 400px;
    margin-top: 10px;
}