* {
    box-sizing:border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-image: url(./Images/background.jpg);
}

/*All Header Elements will following this formatting*/
header {
    padding: 10px;
    text-align: left;
    background-color: rgb(9, 9, 49);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*For the main header at the top of the page fomatting*/
.main-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*For the navigation bar located at the top of the page */
.main-header nav {
    padding-top: 1px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.main-header nav ul {
    list-style-type: none;
}

.main-header nav ul li {
    display: inline-block;
    padding-right: 50px;
}

a {
    color: rgb(210, 179, 223);
    text-decoration: none;
}

/* Main section starting from the about me section down to the contact info  */
main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
/* .me section refers to the about me section in the main */
.me {
    border-style: solid;
    border-width: 1px;
    padding-bottom: 10px;
    width: 100%;
    margin: 10px;
}
.me header {
    text-align: center;
    padding-bottom: 1%;
    font-size: x-large;
}

.me img {
    border-radius: 50%;
    width: 20%;
    margin: 20px;
}

.me p {
    text-align: center;
    margin: 10px;
    padding-top: 3%;
}

/* sub-sections in diving the groups */
.sub-sections {
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
    font-size: x-large;
}

.sub-sections header {
    text-align: center;
}

/* main-card is for the horiseon project. This format is seperate from the other cards 
because it is the only one with a project attached */
.main-card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 100%;
    height: 400px;
    margin: 10px;
    margin-bottom: 20px;
}

.main-card img {
    display: block;
    width: 800px;
    height: 350px;
}

/* Allows image in the horiseon project to enlarge when cruser is hovering over it */
.main-card :hover {
    transform: scale(1.1);
    transition: scale(.5s);
}


/*Size for medium size screens such as laptops*/
@media screen and (max-width: 992px) {
    .card {
        width:50%
    }
}

/*Size for small screens such as smart phonts*/
@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }

.card header {
    padding: 20px;
}

.card p {
    text-align: center;
}

/* contact card layout */
.contact-card {
    border-width: 1px;
    padding: 10px;
    width: 100%;
    height: 150px;
    margin: 10px;
    text-align: center;
    background-color: aliceblue;
}
