* {
   box-sizing: border-box; 
}


body {
    margin: 0;
    /* background-image:url(./Images/background.webp); */
    background-color: ghostwhite;
}

/* Main header formatting */
.main-header {
    padding: 20px;
    text-align: left;
    background-color: rgb(20, 20, 57);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-header h1 {
    color: white;
}

.main-header img {
    display: block;
    float: right;
    width:100px;
    border-radius: 50%;
}

/* Navigation Formatting */
nav {
    display: flex;
    background-color: rgb(58, 58, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    color: rgb(210, 179, 223);
    padding: 14px 30px;
    text-decoration: none;
}


/* About Me Section */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.container h1 {
    font-size:xx-large;
    padding: 20px;
    border-right: solid;
}

.container p {
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .container h1 {
        border-right: none;
    }
    h1 {
        border-bottom: solid;
    }
}

/* Project Section */
.container-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-rows: 100px;
    margin: 50px;
}

.container-two h1 {
    font-size:xx-large;
    padding: 30px;
    border-right: solid;
}

@media screen and (max-width: 992px) {
    .container-two h1 {
        border-right: none;
    }
    h1 {
        border-bottom: solid;
    }
}

.screenshot {
    display: block;
    width: 800px;
    height: 350px;
}

.screenshot:hover {
    transform: scale(1.1);
    transition: scale(.5s);
    opacity: 60%;
}

@media screen and (max-width: 992px) {
    .screenshot {
        width: 100%;
        height: auto;
    }
}

.card {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(20, 20, 57);
    color: white;
}

/* .container-three {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.container-three h1 {
    font-size:xx-large;
    padding: 15px;
    border-right: solid;
} */

/* Upcoming Projects Section */

.container-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.container-three h1 {
    font-size:xx-large;
    padding: 20px;
    border-right: solid;
}

.container-three .photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    height: auto;
    border-radius: 20%;
}

@media screen and (max-width: 992px) {
    .container-three h1 {
        border-right: none;
    }
    h1 {
        border-bottom: solid;
    }
}

.photo:hover {
    transform: scale(1.1);
    transition: scale(.5s);
    opacity: 60%;
}

  .container-four {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.container-four h1 {
    font-size:xx-large;
    padding: 30px;
    border-right: solid;
}

@media screen and (max-width: 992px) {
    .container-four h1 {
        border-right: none;
    }
    h1 {
        border-bottom: solid;
    }
}

.container-four h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: x-large;
    /* background-image: url(./Images/background.webp); */
}